body
{
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-position: center;
    background-size: 100%;
}
.card{
   
    background-color:  #f8f6c6;
}

.card-title{
    font-weight: bolder;
    text-align: left;
    text-decoration: underline;
}
.title{
    font-weight: bold;
}              

.align{
    padding-left: 30%;  
}

.heading{
    text-align:center;
    font-size: 45px;
    color:whitesmoke; 
    font-weight: bold;
}